name: Bug Report on Application Error

on:
  workflow_dispatch:
  push: 
    branches:
      - main

permissions:
  issues: write

jobs:
  check-for-bugs:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Python 3.12
        uses: actions/setup-python@v4
        with:
          python-version: 3.12

      - name: Install dependencies
        run: |
          # Crear y activar el entorno virtual
          python -m venv venv
          source venv/bin/activate
          
          # Actualizar pip
          pip install --upgrade pip
          
          # Instalar dependencias
          pip install -r requirements.txt
          pip install -e ./

      - name: Initialize Application
        id: run-app
        run: |
          # Iniciar la aplicaci칩n Flask en segundo plano
          nohup flask run --host=0.0.0.0 --reload --debug > app.log 2>&1 & 
          
          # Esperar a que la aplicaci칩n se inicialice
          for i in {1..5}; do
            HTTP_STATUS=$(curl -s -o /dev/null -w "%{http_code}" http://localhost:5000)
            if [ "$HTTP_STATUS" -eq 200 ] || [ "$HTTP_STATUS" -eq 300 ]; then
              break
            fi
            sleep 3
          done
          
          # Verificar si la aplicaci칩n est치 corriendo correctamente
          if [ "$HTTP_STATUS" -ne 200 ] && [ "$HTTP_STATUS" -ne 300 ]; then
            echo "Initialization failed with status $HTTP_STATUS" > error.log
          fi
          
          # Verificar si hay errores
          if [ -s error.log ]; then
            echo "error=true" >> $GITHUB_ENV
          else
            echo "error=false" >> $GITHUB_ENV
          fi

      - name: Create an issue for bugs
        if: env.error == 'true'
        uses: peter-evans/create-issue-from-file@v5
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          title: "Bug Detected: Initialization Error"
          content-filepath: ./AUTO-ISSUE.md
          labels: |
            bug
            help wanted
            high

      - name: Print logs
        if: env.error == 'true'
        run: |
          echo "Initialization failed. Printing logs:"
          cat error.log
          cat app.log