name: Bug Report on Application Error

on:
  workflow_dispatch:
  push: 
    branches:
      - main

permissions:
  issues: write

jobs:
  check-for-bugs:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Python 3.12
        uses: actions/setup-python@v4
        with:
          python-version: 3.12

      - name: Install dependencies
        run: |
          # Crear y activar el entorno virtual
          python -m venv venv
          source venv/bin/activate
          
          # Actualizar pip
          pip install --upgrade pip
          
          # Instalar dependencias
          pip install -r requirements.txt
          pip install -e ./
          
          # Asegurarse de que flask esté disponible
          pip install flask

      - name: Initialize Application
        id: run-app
        run: |
          # Iniciar la aplicación Flask en segundo plano
          nohup flask run --host=0.0.0.0 --reload --debug > app.log 2>&1 & 
          
          # Esperar a que la aplicación se inicialice
          sleep 10
          
          # Verificar si hay errores en el log de la aplicación
          if grep -i "error" app.log; then
            echo "Initialization failed. Check app.log for details." > error.log
          fi
          
          # Verificar si hay errores
          if [ -s error.log ]; then
            echo "error=true" >> $GITHUB_ENV
          else
            echo "error=false" >> $GITHUB_ENV
          fi

      - name: Check Application Accessibility
        id: check-access
        run: |
          # Intentar acceder a la aplicación en el puerto 5000
          if ! curl -s http://localhost:5000 > /dev/null; then
            echo "Application is not accessible on port 5000." > access_error.log
            echo "error=true" >> $GITHUB_ENV
          fi
          
          # Verificar si hay errores de acceso
          if [ -s access_error.log ]; then
            echo "error=true" >> $GITHUB_ENV
          fi

          # Imprimir el contenido de access_error.log si existe
          if [ -f access_error.log ]; then
            cat access_error.log
          fi

      - name: Create an issue for bugs
        if: env.error == 'true'
        uses: peter-evans/create-issue-from-file@v5
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          title: "Bug Detected: Initialization or Accessibility Error"
          content-filepath: ./AUTO-ISSUE.md
          labels: |
            bug
            help wanted
            high

      - name: Print logs
        if: env.error == 'true'
        run: |
          echo "Initialization or Accessibility failed. Printing logs:"
          cat error.log || true
          cat access_error.log || true
          cat app.log || true